body {
    margin: 0;
    padding: 0;
}
#header {
    background-color: red;
    text-align: center;
    margin: 0;
    padding: 1% 2%;
}

footer {
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 20px;
    position: sticky;
    bottom: 0%;
    text-align: center;
}

#navmenu {
    position: sticky;
    top: 0%;
    z-index: 1;
}

#navigate {
    position: sticky;
    top: 0%;
    z-index: 1;
}

.menu {
    margin: 0%;
    background-color: rgb(0, 0, 0, 0.5);
}

.menu li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.menu li {
    padding: 10px;
    display: inline-block;
}

.menu li:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    z-index: 1;
    top: 100%;
}

.menu li:hover .dropdown-content {
    display: block !important;
}

.dropdown-content a {
    color: black !important;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd !important;
}